@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

p {
  font-family: 'Poppins', sans-serif;
  line-height: 13px;
  font-size: 10px;
  background: url("img.png");
  background-size: 1250px;
  -webkit-background-clip: text;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background-position: center;
}

body {
  background: rgba(0, 0, 0, 0.932);
  overflow: hidden;
}